{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
    {ibrowse, ".*", {git, "git@github.com:cmullaparthi/ibrowse.git", "HEAD"}},
	{bson, ".*", {git, "git@github.com:mongodb/bson-erlang.git", "HEAD"}},
	{mongodb, ".*", {git, "git@github.com:mongodb/mongodb-erlang.git", "HEAD"}},
	{kdht, ".*", {git, "git@github.com:kevinlynx/kdht.git", "HEAD"}}
]}.

